# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.idea/.gitignore
/api/.idea/.idea.Api/.idea/.gitignore
/api/.idea/.idea.Api/.idea/.name
/api/.idea/.idea.Api/.idea/encodings.xml
/api/.idea/.idea.Api/.idea/indexLayout.xml
/.idea/modules.xml
/.idea/react-unit-testing.iml
/api/Api/todo.db-shm
/api/Api/todo.db-wal
/.idea/vcs.xml
/api/.idea/.idea.Api/.idea/vcs.xml
/api/.idea/.idea.Api/.idea/dataSources.xml
