.header {
  color: Blue;
  text-align: center;
}
.app-container {
  display: flex;
  flex-direction: column;
}
.MuiDataGrid-cell--withRenderer.MuiDataGrid-cell.MuiDataGrid-cell--textLeft.MuiDataGrid-withBorderColor:focus {
  outline: none;
}
.MuiDataGrid-cell--withRenderer.MuiDataGrid-cell.MuiDataGrid-cell--textLeft.MuiDataGrid-withBorderColor:focus-within {
  outline: none;
}
.modal-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}
